.privacy_policy_title h1 {
  text-align: center;
}

.privacy_policy_text {
  margin-top: 20px;
}

.privacy_policy_text ol {
  padding-left: 20px;
}

.privacy_policy_text li {
  margin-bottom: 10px;
}

.privacy_policy_text ul {
  margin-left: 20px;
}

.privacy_policy_content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
